.App {
  text-align: center;
}

@media (max-width: 500px) {
  .short-description {
    margin: 20px;
  }
}

@media (min-width: 500px) {
  .short-description {
    max-width: 500px;
    margin: auto;
  }
}